<div id="canvus" content="width=device-width;height=device-height">
	<div id="title"><h1>Silicon Valley Intern Challenge!</h1></div>
	<div id="challenges-container">
		<button id="challenge1" type="button" class="button" onclick="loadChallenge(1)">Challenge 1</button>
		<div id="challenge2" class="button">Challenge 2</div>
		<div id="challenge3" class="button">Challenge 3</div>
		<div id="challenge4" class="button">Challenge 4</div>
		<div id="challenge5" class="button">Challenge 5</div>
		<div id="challenge6" class="button">Challenge 6</div>
		<div id="challenge7" class="button">Challenge 7</div>
		<div id="challenge8" class="button">Challenge 8</div>
	</div>
	<div id="footer">test</div>
</div>
